.MonCompte-menu-left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.MonCompte-menu-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.MonCompte-button-right {
  font-size: var(--moyen);
  font-weight: bold;
  margin-top: 10%;
  flex: 33%;
}

.MonCompte-button-right p {
  margin-left: 25%;
  margin-right: 25%;
}

.MonCompte-button-left p {
  margin-left: 25%;
  margin-right: 25%;
}

.MonCompte-button-left {
  font-size: var(--moyen);
  font-weight: bold;
  margin-top: 10%;
  flex: 33%;
}

.MonCompte-button-nothing {
  margin-top: 10%;
  flex: 33%;
}

.Menu {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: var(--moyen);
  font-weight: bold;
}

.MonCompte-vos-abonnements:hover {
  cursor: pointer;
  color: var(--violet);
}

.MonCompte-vos-commandes:hover {
  cursor: pointer;
  color: var(--violet);
}

.MonCompte-besoin-aide:hover {
  cursor: pointer;
  color: var(--violet);
}

.MonCompte-vos-adresses-contacts:hover {
  cursor: pointer;
  color: var(--violet);
}

.MonCompte-connexions:hover {
  cursor: pointer;
  color: var(--violet);
}

.MonCompte-info {
  font-size: var(--petit);
  font-weight: normal;
}

.MonCompte-header {
  margin-left: 10%;
  display: flex;
  align-items: center;
  flex: 0 0 10%;
}

.MonCompte-header p {
  font-size: var(--petit);
  margin-right: 25%;
}

.MonCompte-header-head {
  font-weight: bold;
  font-size: var(--moyen);
}

.MonCompte-header-main-icon {
  margin-left: 10%;
  margin-right: 10%;
}

.MonCompte-header-back {
  cursor: pointer;
}

.MonCompte-body {
  flex: 1;
  width: 100%;
  height: 100%;
}

.MonCompte-selected-part {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
