:root {
  --interface-width: 25vw;
  --interface-margin-left: 37.5%;
  --violet: #7984ba;
  --gros: 24px;
  --moyen: 18px;
  --petit: 12px;
}

.App {
  height: 100vh;
  width: 100%;
  background-image: url('./img/Background-Vector.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-Entete {
  order: 1;
  width: 100vw;
}

.App-Interface {
  margin-top: 12.5vh;
  width: var(--interface-width);
  margin-left: var(--interface-margin-left);
  order: 2;
}
