:root {
  --interface-width: 25vw;
  --interface-width-mobil: 85vw;
  --interface-margin-top-mobil: 2vh;
  --interface-margin-bot-mobil: 0%;
  --interface-height-mobil: 70%;
  --interface-border-radius: 10px;
  --interface-menu-display: none;
  --violet-claire: rgb(247, 248, 250);
  --violet: #7984ba;
  --gros: 24px;
  --moyen: 18px;
  --petit: 12px;
}

::-webkit-scrollbar {
  width: 7px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--violet);
  border: 2px solid #f1f1f1; /* Ajoute une bordure pour contrôler la taille effective */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #f1f1f1; /* Ajoute une bordure pour contrôler la taille effective */
}

.App {
  height: 100vh;
  width: 100%;
  background-image: url(./img/AdobeStock.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  color: white;
}

.App-Entete {
  order: 1;
  width: 100vw;
  /*border-bottom: 2px solid black;*/
}

.App-Interface {
  margin-top: 12.5vh;
  width: var(--interface-width);
  order: 2;
  height: 100%;
  flex: 100%;
}

.TextCachePc {
  display: none;
}

@media only screen and (max-width: 768px) and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5) {
  :root {
    --gros: 28px;
    --moyen: 20px;
    --petit: 14px;
  }

  .App-Interface {
    width: var(--interface-width-mobil);
    margin-top: var(--interface-margin-top-mobil);
    margin-bottom: var(--interface-margin-bot-mobil);
    padding-top: 10vh;
  }

  .TextCacheMobil {
    display: none;
  }

  .TextCachePc {
    display: inline-block;
  }

  .App-Entete {
    position: fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
}
