.Entete {
  height: 7vh;
  /*border: 5px solid red;
    box-sizing: border-box;*/
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.Entete-midis {
  color: #19161b;
  font-weight: bold;
  margin-left: 5vh;
}

.Entete-com {
  color: var(--violet);
  margin-left: 0;
}

.midis-com-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-container {
  text-align: left;
  display: flex;
  align-items: center;
  margin-right: 10vh;
  cursor: pointer;
}

.account-container p {
  margin-left: 2vh;
  font-size: 12px;
}

.Entete-mon-compte:hover {
  color: var(--violet);
}

.account-container div {
  display: flex;
  align-items: center;
}

.account-container img {
  width: 7vh;
  margin-right: -3vh;
  margin-top: 5px;
}

.Entete-deconnection {
  padding: 5px;
  background-color: var(--violet);
  border: 2px solid var(--violet);
  box-sizing: border-box;
  color: white;
}
.Entete-deconnection:hover {
  background-color: white;
  border: 2px solid var(--violet);
  box-sizing: border-box;
  color: #7984ba;
}
