.Entete {
    height: 7vh;
    /*border: 5px solid red;
    box-sizing: border-box;*/
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.Entete-midis {
    color: #19161b;
    font-weight: bold;
    margin-left: 5vh;
}

.Entete-com {
    color: #8089be;
    margin-left: 0;
}

.midis-com-container {
    display: flex;
    align-items: center;
}

.account-container {
    text-align: left;
    display: flex;
    align-items: center;
    margin-right: 5vh;
}

.account-container p {
    margin-left: 2vh;
}