.Entete {
    height: 7vh;
    border: 5px solid red;
    box-sizing: border-box;
    background-color: #dbdbdb;
    color: black;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.Entete-midis {
    color: #19161b;
    font-weight: bold;
    margin-left: 5vh;
}

.Entete-com {
    color: #8089be;
}