.Interface {
  /*border: 5px solid red;
    box-sizing: border-box;*/
  background-color: #ffffff;
  color: black;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  word-wrap: break-word;
}
