.Interface {
  /*border: 5px solid red;
    box-sizing: border-box;*/
  background-color: #ffffff;
  color: black;
  display: flex;
  border-radius: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

@media only screen and (max-width: 768px) and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Interface {
    height: var(--interface-height-mobil);
    border-radius: var(--interface-border-radius);
  }
}
